// Fuentes
$fuente-sans-serif: sans-serif;
$fuente-serif: serif;
$fuente-monospace: monospace;
$fuente-especial: 'Titillium Web',sans-serif;
// Colores Site
$color-light: #fff;
$color-dark: #000;
$color-enfasis: #ff2419;
$color-oscuro: #252525;
$color-enfasis-oscuro: #400906;
$color-links: #ff6340;
$color-texto-especial: #53575a;
// Muestrario de colores
$color-naranja: #ff6340;
$color-naranja-2: #e69200;
$color-naranja-3: #ef6c00;
$color-rojizo: #cf022b;
$color-teal: #4a7f76;
$color-azul: #004a9a;
$color-azul-2: #0a6fdf;
$color-azul-3: #009ee0;
$color-azul-4: #167db7;
$color-azul-5: #00a2e0;
$color-amarillo: #fcdb00;
$color-verde-brillante: #5bb900;
$color-fucsia: #d80079;
$color-violeta: #58064a;
$color-verde-oscuro: #002b36;
// Colores gráficos circulares
$color-grafico-circular-gris: #4d4d4d;
$color-grafico-circular-azul: #5da5da;
$color-grafico-circular-naranja: #faa43a;
$color-grafico-circular-verde: #60bd68;
$color-grafico-circular-rosa: #f17cb0;
$color-grafico-circular-marron:#b2912f;
$color-grafico-circular-purpura:#b276b2;
$color-grafico-circular-amarillo:#decf3f;
$color-grafico-circular-rojo:#f15854;